@import url(dark.css);

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p {
  position: absolute;
  bottom: 10px;
  font-size: large;
  text-align: center;
  width: 100%;
  user-select: none;
}

svg {
  width: 100%;
  height: 100%;
}