@import url(dark.css);

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: manipulation;
}

p {
  position: absolute;
  bottom: 10px;
  font-size: large;
  text-align: center;
  width: 100%;
  user-select: none;
}

svg {
  width: 100%;
  height: 100%;
}

line {
  stroke: #f0f0f0;
  stroke-width: 2;
}

circle {
  fill: white;
}

#line1 {
  display: none;
  opacity: 0.2;
}

#line2 {
  display: none;
  opacity: 0.5;
}

#approaching {
  display: none;
}

circle.closest {
  stroke: orange; 
  stroke-width: 3;
}

line.connected {
  stroke: lightgreen;
  opacity: 1 !important;
}

line.remove {
  stroke: red !important;
  opacity: 1 !important;
}

line.beRemoved {
  stroke: lightcoral !important;
  stroke-dasharray: 40 30;
  opacity: 0.7 !important;
}