@import url(dark.css);

body {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 1.3em;
}

#changable {
  display: inline-block;
  font-size: 50px;
  color: #bb86fc;
  margin-top: 20px;
  padding: 10px;
}

#closeTab {
  position: fixed;
  top: 20px; 
  right: 30px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid #bb86fc;
  border-radius: 50%;
  color: #bb86fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeTab:hover {
  background-color: #bb86fc;
  color: rgb(30,39,49);
}