body {
  margin: 0px;
}

#wrapper {
  margin: 3vh 30px;
}

form {
  width: 100%;
  position: sticky;
}

#str {
  height: 5vh;
  width: 280px;
  margin: auto;
  padding-left: 15px;
}

form button {
  height: 5vh;
  margin: auto;
  margin-left: 20px;
  border-radius: 8px;
  padding: 0px 20px;
}

#result {
  margin: 0px;
  margin-bottom: 2vh;
  width: 100%;
  min-height: 80vh;
  border: 0px;
  border-top: 1vh solid #dddddd;
  border-bottom: 1vh solid #dddddd;
}